[push]
  default = tracking
[user]
  name = Charles Lavery
  email = charles.lavery@gmail.com
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[alias]
  co = checkout
  cm = commit
  s = status --short -b
  a = add
  last = difftool HEAD^..HEAD --
  new = !sh -c 'git log $1@{1}..$1@{0} "$@"'
  graph = log --all --graph --decorate --oneline -n30
  lg = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(cyan bold)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  forkdiff = !bash -c 'git diff $(git merge-base "$1" "$2") "$2" "${@: 3}" ' -
  l = "!. ~/.githelpers && pretty_git_log"
  hp = "!. ~/.githelpers && show_git_head"
  # interactive add with fzf (not the same as patch add)
  ia = !git ls-files -m | fzf -m | xargs git add
[core]
	excludesfile = /Users/clavery/.gitignore
  pager = less -FRSX
[color "branch"]
  current = magenta
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = green
  changed = yellow
  untracked = cyan
[merge]
  tool = fugitive
  conflictstyle = diff3
[mergetool]
	prompt = false
  keepBackup = false
[mergetool "gvimdiff"]
  path = mvim
[mergetool "fugitive"]
  cmd = mvim -f -g -d -c \"Gdiff | wincmd J\" \"$MERGED\"
[diff]
  tool = vimdiff
[difftool "vimdiff"]
  cmd = mvim -f -v -d \"$LOCAL\" \"$REMOTE\"

[tig]
  line-graphics = utf-8
  focus-child = false
  main-view = date:relative author:full id:yes commit-title:graph=yes,refs=yes
[tig "color"]
  cursor = yellow black bold
  title-focus = yellow black
  title-blur = cyan black
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
