[push]
  default = tracking
[user]
  name = Charles Lavery
  email = charles.lavery@gmail.com
	signingkey = 61E304BE451D80E969CA888BB050C1999B5B4181
[include]
  path = ~/.gitconfig-local
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[alias]
  wt = worktree
  co = checkout
  cm = commit
  s = status --short -b
  a = add
  last = difftool HEAD^..HEAD --
  graph = log --all --graph --decorate --oneline -n30
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=short
  l = log -p --color
  ia = !git ls-files -m | fzf -m | xargs git add
  ic = !git ls-files -m | fzf -m | xargs git co
  id = !git ls-files -m | fzf -m | xargs -o git difftool
  frb = !git fetch && git rebase origin/develop
[core]
	excludesfile = /Users/charleslavery/.gitignore
[pager]
  log = bash -lc '/usr/local/bin/diff-highlight | less -r' -
  diff = bash -lc '/usr/local/bin/diff-highlight | less -r' -
  show = bash -lc '/usr/local/bin/diff-highlight | less -r' -
[color "diff-highlight"]
  oldNormal = "red bold"
  oldHighlight = "red bold 52"
  newNormal = "green bold"
  newHighlight = "green bold 22"
[color "branch"]
  current = magenta
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = green
  changed = yellow
  untracked = cyan
[merge]
  tool = fugitive
  conflictstyle = diff3
[mergetool]
  prompt = false
  keepBackup = false
[mergetool "gvimdiff"]
  path = mvim
[mergetool "fugitive"]
  #cmd = mvim -f -d -c \"Gdiff|wincmd k|wincmd H|wincmd l|wincmd j|wincmd L|wincmd h|wincmd J\" \"$MERGED\"
  cmd = mvim -f -d -c \"Gdiff|wincmd J\" \"$MERGED\"
[diff]
  tool = vimdiff
[difftool "vimdiff"]
  cmd = mvim -f -v -d \"$LOCAL\" \"$REMOTE\"

[tig]
  line-graphics = utf-8
  focus-child = false
  main-view = date:relative author:full id:yes commit-title:graph=yes,refs=yes
[tig "color"]
  cursor = yellow black bold
  title-focus = yellow black
  title-blur = cyan black

[diff "gpg"]
  textconv = gpg --decrypt
[mergetool "nbmerge"]
  cmd = nbmerge $LOCAL $BASE $REMOTE $MERGED
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Users/clavery/Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true

[gpg]
	program = gpg2
[init]
	defaultBranch = main
