[push]
	default = tracking
[user]
	name = Charles Lavery
	email = charles.lavery@gmail.com
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[alias]
  co = checkout
  s = status --short
  a = add
  new = !sh -c 'git log $1@{1}..$1@{0} "$@"'
  graph = log --all --graph --decorate --oneline -n30
  lg = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(cyan bold)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  forkdiff = !bash -c 'git diff $(git merge-base "$1" "$2") "$2" "${@: 3}" ' -
[core]
  excludesfile = ~/.gitignore
	pager = less -FRSX
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = green
  changed = yellow 
  untracked = red
