.DS_Store
*.pyc
.svn
_svn
WEB-INF/*
.ropeproject/
nohup.out
venv/
.netrwhist

.vim/spell
.idea/
.#
*.elc
.sass-cache/
.agignore
.custignore
*.egg-info/
.ipynb_checkpoints
.vim/sessions
.ipython/profile_default/security/
