/*
Placeholder for custom user CSS

mainly to be overridden in profile/static/custom/custom.css

This will always be an empty file in IPython
*/

@import "/static/custom/jquery.handsontable.full.css";
@import "/static/components/codemirror/theme/monokai.css";
@import "/static/components/codemirror/theme/solarized.css";

@import 'http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900';

.CodeMirror-code {
  font-family: 'Source Code Pro', monospace !important;
}
div#notebook, div.CodeMirror, div.output_area pre, div.output_wrapper, div.prompt {
  font-family: 'Source Code Pro', monospace !important;
}

div#maintoolbar, div#menubar-container, #ipython_notebook {display: none !important;}

#custControls {
  margin: 8px 20px;
  float: right;
}
